/packages/
riderModule.iml
/_ReSharper.Caches/
/config-schema-generation/node_modules/
/Stride.Compiler/bin/
/Stride.Compiler/obj/
/Stride.Dependencies/obj/
/Stride.Dependencies/bin/
/Stride.Common/obj/
/Stride.Common/bin/


